.navbar{
    font-style: italic;
  background-color:lightcoral;
  font-size: large;

}

.itme{

    list-style: none;
    border: lightcoral solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
    background-color: whitesmoke;
    filter:opacity(30%);
    

} 
 


body{
  
    width: 100%;
    font-style:oblique;    
} 

.main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}


.container {
    text-align: start;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border:blanchedalmond solid;
    background-color:rgb(223, 241, 243) ;
    padding: 3%;
    margin: 3px;
}

.container img{
width: 70%;
height: 100%;
border: lightcoral solid;
}

.container p{

    margin-top: 10px;
    font-size: 20px;
    
    } 


.content-style{
   
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px auto;
    width: 400px;
}

/* .row{
    border:blanchedalmond solid;
    font-style: initial;

} */

 .log-in{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px auto;
    width: 400px;
    border: paleturquoise solid;
    padding: 20px;

} 
 



.table-table-striped{
    border: paleturquoise solid;
    background-color: rgb(240, 182, 201);

}

.git-in{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px auto;
    padding: 40px;
    border: paleturquoise solid;
   
}

.shoping-infromtion{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 50px auto;
    padding: 40px;
    border: paleturquoise solid;

}

.card-1{
    display: block;
    flex-direction: column;
    width: 90%;
    margin: 7px auto;
    padding: 6x;
    border: blanchedalmond solid;
  
   
}


.card-1 .card-header-1
{
    border: rgb(240, 182, 201) solid;
   
}
.card-1 .card-body-1{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
    margin: 7px auto;
    padding: 10px;
    border: paleturquoise solid;

    


}

.content-2 img{
    width: 50%;
}



.row-cart{

    display:flex;;
    width: 50%;
    margin: 7px auto;
    padding: 100px;
    border: paleturquoise solid;


    
}

.amount{

    display: flex;
    flex-direction: column;
    width: 500%;
    margin: 100px auto;
    padding: 10px;

  
}


.content{

    
    display: flex; 
    flex-wrap: wrap;
    align-items:center;
    border:blanchedalmond solid;
    background-color:rgb(223, 241, 243) ;

    margin: 50px;

}

.prodect {

    
    border: 0.5px solid aqua;  
    margin: 50px;
    padding: 10px;
    
  

}

.displayCart img{

    width: 70px;
    

}

.displayCart {

    margin-left: 100px;

}


.displayItem{
    display:flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-left: 100px;
    margin-top: 50px;
    font-size: 12px;
}

.item{
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    background-color: cyan;
}

.names{

    width: 100px;
    border-radius: 20px;
    margin: 10px;
    background-color: cyan;

}

.price{
    width: 100px;
    border-radius: 20px;
    margin: 10px;
    background-color: cyan;
}

.quantity{

    width: 100px;
    border-radius: 20px;
    margin: 10px;
    background-color: cyan;

}

.total{

    width: 100px;
    border-radius: 20px;
    margin: 10px;
    background-color: cyan;

}

.cartlist{
    display: flex;

}

.forImage{
    width: 100px;
    margin: 10px;

}

.forname{
    width: 100px;
    margin: 10px;

}
.forprice{
    width: 100px;
    margin: 10px;

}

.forquantity{
    width: 100px;
    margin: 10px;

}

.fortotal{
    width: 100px;
    margin: 10px;

}

.removeItem button{
    cursor: pointer;
    background-color:cornsilk;
    width: 70px;
    height: 20px;

}

.totalprice{
color:#fff;
margin-top: 100px;
margin-left: 100px;
width: 400px;
background-color:  rgb(240, 182, 201) ;
justify-content: space-between;
text-transform: uppercase;
text-align:center;
}
.total-1{
    margin: 10px;

}
.priceview{
    margin: 10px;
}

.form table {
    background-color:floralwhite;
    padding: 10px;
    margin-left:100px ;
}